:root {
  --Primary-color: #015982;
  --secondary-color: #278CD4;
  --page-background: #FFFFFF;
  --header-background: #303030;
  --boxes-background: #F8F8F8;
  --boxes-border: #D9D9D5;
}

body {
  padding: 0;
  margin: 0;
  background: var(--page-background);
  font-family: Poppins, sans-serif;
  height: auto;
  margin-bottom: 128px auto;
}

/* section 1 starts */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-background);
  padding: 0 2rem;
  height: 82px;
  color: var(--page-background);
}
.logo{
  display: grid;
  justify-content: center;
  font-size: 0.75rem;
  text-align: center;
}
.logo img{
  height: 3.75rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: var(--page-background);
  font-size: .85rem;
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--secondary-color);
  
}
.header-buttons{
  justify-content: space-between;
  gap: 2rem;
}


.header-buttons button {
  padding: .6rem 1.6rem;
  background: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-family: poppins;
}
.header-buttons button:hover {
  background: var(--Primary-color);
  border-radius: 2px;
  border: 1px solid var(--boxes-background);
}


.breadcrumbs {
  background: var(--boxes-background);
  padding: 12px 2rem;
  font-size: .9rem;
  color: var(--secondary-color);
  font-weight: 600;
}

.cards-section {
  display: flex;
  gap: 20px;
  padding: 2rem;
}
.info-card {
  flex: 1;
  padding: 1.5rem;
  background: var(--boxes-background);
  border: 0.5px solid var(--boxes-border);
  border-radius: 8px;
}
.highlighter {
  margin-top: .8rem;
  display: inline-block;
  font-size: .75rem;
  padding: .4rem .8rem;
  border-radius: 32px;
  font-family: Poppins;
  font-weight: 500;
  color: var(--page-background);
}
.Improving { background: #F59F0A; }
.Increasing { background: #16853E; }
.Decreasing  { background: #F5490A; }


/* section 1 ends */


/* section 2 starts */
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
}

.heading h2 {
  font-size: 1.8rem;
  margin-bottom: .4rem;
  color: var(--header-background);
  font-family: Poppins;
}

.heading .subtitle {
  font-size: .95rem;
  color: #555;
  margin-bottom: 1.5rem;
  font-family: Poppins;
}

.map-chart {
  display: flex;
  gap: 20px;
  padding: 0 2rem;
}
.map-box, .chart-box {
  flex: 1;
  height: 280px;
  background: var(--boxes-background);
  border: 1px solid var(--boxes-border);
  border-radius: 4px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.bar-table {
  display: flex;
  gap: 20px;
  padding: 2rem;
}
#modeShareChart {
  width: 100% !important;
  height: 100% !important;
}

.bar-box {
  flex: 1;
  height: 350px;
  background: var(--boxes-background);
  border: 1px solid var(--boxes-border);
  border-radius: 4px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.data-table {
  height: 350px auto;
  flex: 1;
  border-collapse: collapse;
  background: var(--boxes-background);
  border: 2px solid var(--boxes-border);
  border-radius: 8px;
  font-size: .85rem;
}
.data-table th, .data-table td {
  padding: .8rem;
  border-radius: 4px;
  border-bottom: 1px solid var(--boxes-border);
}
.data-table th {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--page-background);
}
.dataset-explore{
  background-color: var(--secondary-color);
  color: var(--page-background);
  width: 160px;
  border: none;
  font-family: Poppins;
  padding: 8px 12px;
  cursor: pointer;
}
.dataset-explore:hover{
  background-color: var(--Primary-color);
  border-radius: 2px;
}

.accordian-sidebar{
  display: flex;
  gap: 20px;
  padding: 0 2rem;
}


.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 1.4rem;
  background: var(--boxes-background);
  border: 1px solid var(--boxes-border);
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  font-style: normal;
  font-family: Poppins;

}

.accordian-header .arrow {
  transition: transform .3s ease;
  font-size: 1.2rem;
}

.accordian-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 2rem;
  border-radius: 0 0 8px 8px;
  background: var(--page-background);
  color: #444;
  font-size: .9rem;
  border: 1px solid var(--boxes-border);
  transition: max-height .35s ease;
}

.accordian-body p {
  margin: 1rem 0;
}


.accordian-item.active .accordian-body {
  padding: 1rem 1.4rem;
  max-height: 200px;
}

.accordian-item.active .arrow {
  transform: rotate(180deg);
}


.sidebar{
  display: flex;
  width: fit-content;
  height: auto;
  background-color: var(--boxes-background);
  border: 1px solid var(--boxes-border);
  padding: 0 2rem;
}

.sidebar h1{
  color: #2B2B2B;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.5rem; /* 150% */

}
.footer{
  height: 360px;
}